h1{
    /* color:rgb(102, 3, 216); */
    text-align: center;
    /* Alineacion del texto y distancia del texto a los bordes del elemento */
    /* background-color: bisque; */
    padding: 30px;
}

/* body {
    background-color: rgba(175, 112, 34, 0.507);
} */
.row{
   justify-content: center;
   /* Colocar el contenido al centro */
}
a{
    margin-left: 49vw;
    /* Margen a la izquierda del element */
}
